@use './common';
::ng-deep app-connection-markers {
  @include common.connection;
  .connection-marker {
    circle,
    rect,
    path {
      fill: var(--connection-color);
    }
  }
  .f-connection {
    &.f-selected {
      .f-connection-path {
        stroke: var(--minimap-node-selected-color);
      }
      .connection-marker {
        circle,
        rect,
        path {
          fill: var(--minimap-node-selected-color);
        }
      }
    }
  }
}
.f-node {
  @include common.node;
}
