<button mat-flat-button>Material Button</button>

<h1 class="text-3xl font-bold underline">Hello world!</h1>

<app-getting-started />
<app-basic-example />
<app-adding-dragging-functionality />
<app-node-with-drag-handle />
<app-node-with-position />
<app-node-with-connectors />
<app-different-connectable-side />
<app-different-connection-types />
<app-different-connection-behaviours />
<app-custom-connection-type />
<app-reassign-connection />

<hr />

<app-f-flow-examples />

<hr />

<app-custom-nodes />
<app-drag-handle />
<app-node-selection />
<app-resize-handle />
<app-grouping />

<hr />

<app-node-as-connector />
<app-connector-inside-node />
<app-connector-outlet />
<app-limiting-connections />
<app-connectable-side />

<hr />

<app-drag-to-connect />
<app-drag-to-reassign />
<app-create-node-on-connection-drop />
<app-remove-connection-on-connection-drop />
<app-auto-snap />
<app-connection-types />
<app-custom-connection-type />
<app-connection-behaviours />
<app-connection-markers />
<app-custom-connections />

<hr />

<app-dagre-tree />
<app-elkjs-tree />

<hr />

<app-selection-area />
<app-help-in-positioning />
<app-minimap />
<app-zoom />
<app-background />

<router-outlet />
