<button mat-flat-button>Material Button</button>

<h1 class="text-3xl font-bold underline">Hello world!</h1>

<app-getting-started />
<app-basic-example />
<app-adding-dragging-functionality />
<app-node-with-drag-handle />
<app-node-with-position />
<app-node-with-connectors />
<app-different-connectable-side />
<app-different-connection-types />
<app-different-connection-behaviours />
<app-custom-connection-type />
<app-reassign-connection />

<hr />

<app-f-flow-examples />

<router-outlet />
