@use '../../common';
::ng-deep app-f-flow-examples {
  @include common.connection;
  @include common.line-alignment;
  @include common.minimap;
}
f-flow {
  height: 90%;
}
.f-node {
  @include common.node;
}
.f-node {
  cursor: default;
}
.f-flow {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}
.f-canvas {
  background-color: #ffffff90;
  border: 1px dashed #ccc;
}
.node-with-outlet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: unset;
  .node-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .f-node-output,
  .f-node-outlet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--input-output-color);
  }
  .f-node-outlet {
    background: var(--outlet-color);
  }
}
.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
